# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# ignoring all this stuffs so they don't get committed to git repo

# -----------------------
#  Dependencies
# -----------------------
node_modules/


# -----------------------
# Expo / Build Files
# -----------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
app-example/


# -----------------------
# Native (mobile build) files
# -----------------------
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision


# -----------------------
# Metro Bundler Cache
# -----------------------
.metro-health-check*


# -----------------------
# Debug & Logs
# -----------------------
npm-debug.*
yarn-debug.*
yarn-error.*


# -----------------------
# macOS System Files
# -----------------------
.DS_Store
*.pem


# -----------------------
# Local Environment Variables
# -----------------------
.env*.local


# -----------------------
# TypeScript Cache
# -----------------------
*.tsbuildinfo


# -----------------------
# VS Code Editor Settings (optional)
# -----------------------
.vscode/
